/* extra small*/
@media only screen and (max-width:600px) {
    .animation-two-of-six {
     flex-wrap: wrap ;
    }
 }
 /*small*/
 @media only screen and (min-width:600px) {
 }
 /*medium*/
 @media only screen and (min-width:768px) {
   
 }
 /*large*/
 @media only screen and (min-width:992px) {
     
 }
 /*extra large*/
 @media only screen and (min-width:1200px) {
     
 }
 header {
    text-align: center;
    background-color: #887866;
    padding: 5px;
 }
.animation-two-of-six {
    display: flex;
    margin: auto;
    justify-content: center;
    
}
.animation-one,.animation-two,.animation-three,.animation-four {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: 2px solid #887866;
}
.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid black;
    margin: auto;
    align-items: center;
    margin-top: 40px;
}
.eyes {
    display: flex;
    justify-content: space-around;
}
.eye-left, .eye-right {
    background:transparent;
    border: 1px solid black;
    width: 70px;
    height: 30px;
    border-radius: 90%;
    position: relative;
    margin-top: 70px;
    animation-name: move-eye;
    animation-duration: 2s;
    animation-iteration-count: 7;
    animation-delay: 3s;
}
.noose {
    height: 70px;
    width: 10px;
    border: 2px solid black;
    margin:auto;
}
.mouth {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px ;
    margin: auto;
    margin-top: 50px;
    animation-name: move-mouth;
    animation-duration: 1s;
    animation-iteration-count: 5;

}
@keyframes move-mouth {
    0% {
        border-radius: 0px 0px 10px 10px ; 
     }
     100% {
        border-radius: 0px 0px 0px 0px;
        height: 0px;
        background-color: red;
     }
 }
 @keyframes move-eye {
    0% {
        border-radius: 90% ; 
     }
     50% {
        border-radius: 0px 0px 0px 0px;
        height: 0px;
        background-color: rgba(176, 151, 151, 0.39);
     }
     70% {

     }
 }
 .point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    animation-name: move-point;
    animation-duration: 6s;
    position: relative;
    animation-delay: 2s;
    
 }
 @keyframes move-point {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        left: 0;
        top: 400px;
        background-color: #887866;
    }
    50%{
        top: 400px;
        left: 200px;
        background-color: blue;
    }
    75% {
        top: 0;
        left: 200px;
    }
    100% {
        top: 0;
        left: 0;
    }
 }
.animation-three {
   animation-name: move-line;
   animation-duration: 5s;
   
}
.line {
    position: relative;
    animation-name: move-line;
    animation-duration: 5s;
   
}
@keyframes move-line {
     0%{
        top: 0;
    }
    25% {
        top: 200px;
        background-color: red;
        height: 200px;
    }
    50% {
        background-color: red;
        height: 300px;
    }
    75% {
        
    }
}
